<!DOCTYPE html>
{% load static %}
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Quem Somos - OuriPrata</title>

    <!-- Tailwind CSS compilado -->
    <link href="{% static 'assets/landing_page/output.css' %}" rel="stylesheet" />

    <!-- Google Fonts: Montserrat -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
  </head>

  <body class="bg-gray-100 font-montserrat min-h-screen flex flex-col">
    {% include 'landing_page/partials/navbar.html' %} 
    
    {% include 'landing_page/partials/about_us.html' %}

    {% include 'landing_page/partials/footer.html' %}

  </body>
</html>
