
{% extends 'base.html' %}
{% load static %}

{% block title %}
  {% if show_only_promotions %}
    Promoções - OuriPrata
  {% else %}
    Catálogo Completo - OuriPrata
  {% endif %}
{% endblock %}
{% block meta_description %}<meta name="description" content="Veja todos os produtos e promoções da OuriPrata.">{% endblock %}
{% block og_title %}{% if show_only_promotions %}Promoções - OuriPrata{% else %}Catálogo Completo - OuriPrata{% endif %}{% endblock %}
{% block og_description %}Veja todos os produtos e promoções da OuriPrata.{% endblock %}
{% block og_image %}{% static 'assets/landing_page/logo.png' %}{% endblock %}

{% block content %}
<main class="container-fluid px-0">
  <header>
    {% include 'landing_page/partials/page_header.html' %}
  </header>
  <section class="container my-5">
    <div class="row">
      <aside class="col-lg-3 col-md-4">
        <div class="sticky-top" style="top: 2rem;">
          {% include 'landing_page/partials/filters_menu.html' %}
        </div>
      </aside>
      <section class="col-lg-9">
        {% if products %}
          <div class="row g-4">
            {% for product in products %}
              {% include 'landing_page/partials/product_card.html' %}
            {% endfor %}
          </div>
        {% else %}
          {% if show_only_promotions %}
            {% include 'landing_page/partials/empty_state.html' with icon_name='percent' empty_title='Nenhuma promoção ativa' empty_message='No momento não temos produtos em promoção. Explore nosso catálogo completo ou cadastre-se para receber notificações de ofertas.' empty_button_url='/catalogo/' empty_button_icon='grid' empty_button_text='Ver Todos os Produtos' %}
          {% else %}
            {% include 'landing_page/partials/empty_state.html' with icon_name='gem' empty_title='Nenhum produto encontrado' empty_message='Ainda não temos produtos em nosso catálogo. Volte em breve para conferir nossas novidades!' empty_button_url='/' empty_button_icon='house' empty_button_text='Voltar ao Início' %}
          {% endif %}
        {% endif %}
      </section>
    </div>
  </section>
</main>
{% include 'landing_page/partials/shared_styles.html' %}
{% endblock %}
