{% load static %}

<!-- Carousel Bootstrap -->
<div id="mainCarousel" class="carousel slide mb-4" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="{% static 'assets/landing_page/teste1.webp' %}" class="d-block mx-auto rounded-4 shadow" alt="Slide 1" style="max-width: 100vw; width: 100vw; max-height: 340px; object-fit: cover;">
    </div>
    <div class="carousel-item">
      <img src="{% static 'assets/landing_page/teste2.png' %}" class="d-block mx-auto rounded-4 shadow" alt="Slide 2" style="max-width: 100vw; width: 100vw; max-height: 340px; object-fit: cover;">
    </div>
    <!-- Adicione mais slides conforme necessário -->
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#mainCarousel" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Anterior</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#mainCarousel" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Próximo</span>
  </button>
</div>
